body {
    max-width: 1180px;
    margin: auto;
    /* Ränder passen sich automatisch auf das Format des Bildschirms an */
    font-family: 'Open Sans', sans-serif;
    /* Ausgewählte Schriftart aus der freien Quelle fonts.googleapis.com */
    color: black;
    /* Schriftfarbe */
    background-color: white;
    /* Hintergrundfarbe */
}


header {
    text-align: center;
    /* Text in der Überschrift ist mittig gesetzt */
    background-image: url("images/vienna2.jpg");
    /* Hintergrundbild der Überschrift aus dem Ordner Images */
    background-position: 0 50%;
    /*Position des Bildes auf Überschrift angepasst */
    font-size: 3em;
    /*Schriftgröße */
    font-family: 'Open Sans', sans-serif;

    box-shadow: 4px 4px 20px gray;
}


header h3 {
    font-size: 2em;
    margin: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

header h4 {
    font-size: 0.75em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.author {
    float: left;
    font-family: 'Open Sans', sans-serif;


}

.repo {
    float: right;
    font-family: 'Open Sans', sans-serif;


}




address a {
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 70%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

main figure {
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
}

main figcaption {
    float: left;
    margin-left: -12em;
    width: 11.5em;
    color: black;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

main figure img {
    width: 90%;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 20px gray;
}


.sommer {
    float: left;

}

.winter {
    float: left;

}

footer {
    padding: 1em 0 3em 0;
}

@media only screen and (max-width: 900px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}

