body {
    max-width: 1280px;
    margin: auto; /* Ränder passen sich automatisch auf das Format des Bildschirms an */
    font-family: "Playfair Display"; /* Ausgewählte Schriftart aus der freien Quelle fonts.googleapis.com */
    color: midnightblue; /* Schriftfarbe */
    background-color: lightsteelblue; /* Hintergrundfarbe */
}


header {
    text-align: center; /* Text in der Überschrift ist mittig gesetzt */
    background-image: url("images/vienna2.jpg"); /* Hintergrundbild der Überschrift aus dem Ordner Images */
    background-position: 0 50%; /*Position des Bildes auf Überschrift angepasst */
    font-size: 3em; /*Schriftgröße */
}


header h3 {
    font-size: 2em;
    margin: 0;
    color: midnightblue;
}

header h4 {
    font-size: 0.75em;
    color: white;
}

.author {
    text-align: center;
}


address a {
    color:darkslateblue;
}

main {
    width: 70%;
    margin: auto;
}

main figure {
    margin-left: 0;
}

main figcaption {
    float: left;
    margin-left: -12em;
    width: 11.5em;
    color: darkslateblue;
    font-size: 1em;
}

main figure img {
    width: 90%;
}


.sommer {
    float: left;
}

.winter {
    float: left;
}

footer {
    padding: 1em 0 3em 0;
}

@media only screen and (max-width: 900px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}

