body {
    max-width: 1280px;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

header {
    color: #fff;
    background-color: #e2001a;
    height: 57px;
    
}
header span {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    padding: 0.75em;
}

main h2 {
    color: #e2001a;
}
main h3 {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0.5px 0.5px black;
}
#map {
    width: 100%;
    height: 70vh;
    border: 1px solid gray;
}


